[defaults]
# O Terraform gera o inventário aqui
inventory = ./inventory.ini
# Caminho para as chaves SSH
private_key_file = ~/.ssh/fastapi-aws-key
# Usuário padrão das instâncias Ubuntu
remote_user = ubuntu
# Evita o prompt "Are you sure you want to continue connecting?"
host_key_checking = False
# Melhora a legibilidade do output
stdout_callback = default
result_format = yaml